body {
    min-height: 900px;
    background-repeat:no-repeat;
    background-size:cover;
}
header {
    background-color: #3384BB;
    color: #fff;
    height: 100px;
    margin: 0 0 20px;
    padding: 10px;
}
.errors {
	position: absolute;
	top: 35px;
	font-size: small;
	color: #ccc;
	font-style: italic;
}

.progress {
	display: none;
	position: absolute;
	box-sizing: inherit;
}
#right_answer_message {
	top: 10px;
	left: 190px;
	color: red;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, ul.side-nav {
    box-shadow: none;
}
nav{
    background-color: #3384BB;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    line-height: 90px;
}
nav ul a {
        padding: 0 10px;
}
span h5 {
    color: #fff;
    font-size: 61px;
    margin: 20px 0 0 10px;
    text-shadow: 1px 1px #333;
}
.container {
    background-color: #fff;
   
}
.row {
    margin-top: 20px;
}
h5{
    padding: 5px 0 10px 5px;
}
.helper {
    background-color: #3384BB;
}
.main_helper {
    padding: 20px;
    width: 660px;
}
.mdi-action-done.right {
    color: green;
    font-size: 39px;
}
.footer_bg{
    height: 318px;
    width: 100%;
    background: url("../../../assets/images/footer_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-repeat:no-repeat;
}
.main-height {
    min-height: 300px;
}
.ajaxForm {
    margin: 40px 0 0;
}
.btn{
    background-color:#3384BB;
}
.btn:hover, .btn-large:hover {
    background-color: #19679d;
}

/* Questions Index */

.collection {
    background-color: #fff;
}

.question .collapsible-header{
    line-height: 1.5rem;
    margin: 10px;
}

.question .collapsible-header:hover {

    background-color: #3384BB;
    color: #fff;
    font-weight: normal;
}

.question.active .collapsible-header {

    background-color: #3384BB;
    color: #fff;
    font-weight: normal;
}

.answer:hover {
    background-color: #FFD8CC;
}

.characteristic:hover {
    background-color: #eee;
}
.characteristic.active {
    background-color: #eee !important;
}

.question {
    height: auto;
}

.question-body {
    margin-top: 0;
    padding-top: 10px;
}

.collapsible {
    overflow: hidden;
}

.collection .collection-item.active {
    background-color: #3384BB;
    color: #000;
}

.collapsible-header {
    height: auto;
}

